<html>

<head>
	{% load staticfiles %}
	<title>Learn</title>
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'myblog/css/main.css' %}" />
</head>

<body>
	<div id="header">
		<img src="{% static 'myblog/img/logo.jpg' %}" alt="ARROTECH">
		<h1>blog.com</h1>
	</div>
	<div id="navbar">
		<ul>
			<li><a href="#">HOME</a></li>
			<li><a href="#blogs">BLOGS</a></li>
			<li><a href="#tutorials">TUTORIALS</a></li>
			<li><a href="#about">ABOUT</a></li>
			<li><a href="#contact">CONTACT</a></li>
		</ul>
	</div>
	<div class="main">
	</div>
	<div id="footer"></div>
</body>

</html>